.slider {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;

  overflow: hidden; 
}

.slides {
  display: flex; 
  transition: transform 0.5s ease-in-out; 
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  display: none; 

}

.slide.active {
  display: block;
  margin: auto auto;
}

.slideImg {
  width: 100% ; 
  height: 100%; 
  margin: auto;
  object-fit: cover;

}
