.login {
  position: fixed;
  z-index: 12;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  display: grid;
}

.login-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

  .icon {
    font-size: 20px;
  }
}

.login-title img {
  width: 16px;
  cursor: pointer;
}

.login-inputs,
.login-inputs div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-inputs input,
select {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #002140;
  font-size: 15px;
  cursor: pointer;
}

.login-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;

  input[type="checkbox"] {
    accent-color: #002140;
    width: min-content;
  }
}

.login-condition input {
  margin-top: 5px;
}

.login p span {
  color: #002140;
  font-weight: 500;
  cursor: pointer;
}
