@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=Outfit:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  background-color: #fbf8f3;
}

h1, h2, h3, h4 {
  font-family: "Sora", sans-serif;
}
