.profile-cont{
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 20px;

  h1{
    font-size: 45px;
    color: #0A1128;
  }

  .profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    img{
      align-self: center;
      height: 150px;
      width: 130px;
      background-color: #dde0bd;
      border-radius: 60px
    }

    input{
      min-width: 400px;
      height: 45px;
      padding: 10px;
      outline: none;
      border-radius: 8px;
      border: 1px solid #dde0bd;
      color: #0a1128;
      font-size: 16px;
      padding: 0px 20px;
    }

    .update-btn{
      color: #dde0bd;
      background-color: #221a4b;
      margin: 10px auto;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}


@media (max-width: 1050px) {
}

@media (max-width: 750px) {
  .profile-cont{
    h1{
      font-size: 30px ;
    }
  }
}
