.profile-cont{
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 20px;

  h1{
    font-size: 45px;
    color: #0A1128;
  }

  .profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    span{
      text-align: center;
      color: #002140;
      font-weight: 800;
    }

    img{
      align-self: center;
      height: 150px;
      width: 130px;
      background-color: #bfe2d0;
      border: 3px solid black;
      border-radius: 60px;
      object-fit: cover;
    }

    .doubleInput{
      display: flex;
      gap: 20px;
      align-items: center;
    }

    input{
      /* min-width: 300px; */
      height: 45px;
      padding: 10px;
      outline: none;
      border-radius: 8px;
      border: 1px solid #002140;
      background-color: #bfe2d0;
      color: #0a1128;
      font-size: 16px;
      padding: 0px 20px;
    }

    .update-btn{
      color: white;
      background-color: #002140;
      margin: 10px auto;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
    }
  }

  h2{
    margin-top: 50px;
    color: #0a1128;
  }

  .myAdsDisplay{
    border-radius: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
    padding: 20px;
    width: max-content;

   /* From https://css.glass */
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.61);

    .myAd{
      position: relative;

      .trash{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        color: rgb(219, 62, 62);
        border: 2px solid rgb(219, 62, 62);
      }

      .trash:hover{
        background-color: rgb(219, 62, 62);
        color: white;
        border: 2px solid white;
      }
    }

    .noAd{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      gap: 10px;

      h3{
        display: flex;
        align-items: center;
        color: #002140;
      }

      .toCreateAd{
        padding: 10px 15px;
        background-color: #002140;
        color: white;
        border-radius: 4px;
      }
    }

    @keyframes hitZak {
      0% {
        left: 0;
        transform: translateX(-1%);
      }
      100% {
        left: 100%;
        transform: translateX(-99%);
      }
    }

    .loaderCont{
      width: 400px;
      height: 20px;
      background-color: transparent;
      margin: 0px auto;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    
      .lineLoader {
        width: 100%;
        height: 8px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
      }
      .lineLoader::after {
        content: '';  
        width: 96px;
        height: 8px;
        background: #002140;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        animation: hitZak 0.6s ease-in-out infinite alternate;
      }   
    }
  }
}


@media (max-width: 1050px) {
}

@media (max-width: 750px) {
  .profile-cont{
    h1{
      font-size: 30px ;
    }
  }
}
