.ad-display {
  margin-top: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: max(2vw, 24px);
      font-weight: 600;
    }

    .view-all {
      background-color: #dde0bd;
      color: #648767;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 18px;
      font-size: 18px;
      font-weight: 600;

      .icon {
        font-size: 25px;
      }
    }
  }
}

.ad-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.news-letter{
    background-color: #221a4b;
    margin-top: 40px;
    padding: 20px 0px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    .title{
        display: flex;
        align-items: center;
        gap: 10px;

        .title-icon{
            font-size: 50px;
            color: #dde0bd;
        }

        .title-detail{
            h3{
                color: #dde0bd;
            }

            p{
                color: #dde0bd;  
            }
        }
    }

    .form{
        display: flex;
        align-items: center;

        input{
            width: 260px;
            outline: none;
            border: none;
            padding: 10px;
            background-color: #dde0bd;
            /* color: #648767; */
        }

        button{
            display: flex;
            align-items: center;
            padding: 10px;
            border: none;
            background-color: #648767;
            color: #dde0bd;
        }


    }
}

@media (max-width: 1050px) {
}

@media (max-width: 750px) {
  .ad-display {
    .top {
      h2 {
        font-size: 25px !important;
        font-weight: 600;
      }

      .view-all {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;

        .icon {
          font-size: 16px;
        }
      }
    }
  }

  .news-letter{
    flex-direction: column;
    gap: 10px;

    .form{
        input{
            width: 200px;
        }
    }
  }
}
