.ad-display {
  margin-top: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: max(2vw, 24px);
      font-weight: 600;
    }

    .view-all {
      background-color: #002140;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 18px;
      font-size: 18px;
      font-weight: 600;

      .icon {
        font-size: 25px;
      }
    }
  }
}

.ad-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;

}

@keyframes split {
  0% , 25%{ width: 64px }
  100%{ width: 148px }
}
   

.loaderCont{
  width: 40%;
  height: 20px;
  /* background-color: #bfe2d0; */
  margin: 50px auto;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  .ballLoader {
    width: 64px;
    height: 48px;
    position: relative;
    animation: split 1s ease-in infinite alternate;
  }
  

  .ballLoader::before , .ballLoader::after {
    content: '';
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateX(-10px);
    background: #002140;
    /* opacity: 0.75; */
    backdrop-filter: blur(20px);
  }
  
  .ballLoader::after {
    left: auto;
    right: 0;
    background: #bfe2d0;
    transform: translateX(10px);
  }
}

.news-letter{
    background-color: #bfe2d0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    border-radius: 4px;
    width: 80%;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    .title{
        display: flex;
        align-items: center;
        gap: 10px;

        .title-icon{
            font-size: 70px;
            color: #002140;
        }

        .title-detail{
            h3{
                color: #002140;
            }

            p{
                color: #002140;  
            }
        }
    }

    .form{
        display: flex;
        align-items: center;

        input{
            width: 260px;
            outline: none;
            border: none;
            padding: 10px;
            background-color: whitesmoke;
            /* color: #648767; */
        }

        button{
            display: flex;
            align-items: center;
            padding: 10px;
            border: none;
            background-color: #002140;
            color: white;
        }


    }
}

@media (max-width: 1050px) {
  .ad-display {
    .top {
      h2 {
        font-size: 25px !important;
        font-weight: 600;
      }

      .view-all {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;

        .icon {
          font-size: 16px;
        }
      }
    }
  }

  .loaderCont{
    width: 80% !important;
  }
  
  .news-letter{
    flex-direction: column;
    gap: 10px;

    .form{
        input{
            width: 200px;
        }
    }
  }
}

@media (max-width: 750px) {


}
