.ad-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  /* box-shadow: 0px 0px 10px #535587 ; */
  border: 1px solid #002140;
  transition: 0.3s;
  /* animation: fadeIn 1s; */
  background-color: whitesmoke;
}

.ad-item-img-container {
  position: relative;

  .bookmarkBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #bfe2d0;
    border: none;
    padding: 5px 3px;
    border-radius: 5px;

    .bookmarkImg {
      width: 28px;
      height: auto;
    }

    .bookmark {
      font-size: 28px;
      font-weight: 700 !important;
      color: #002140;
    }
  }
}

.ad-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  background-color: whitesmoke;
  height: 250px;
}

.ad-item-info {
  padding: 20px;

  .state {
    color: #002140;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    margin-top: 15px;
  }
}

.ad-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0a1128;
  margin-bottom: 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
}

.desc {
  /* background-color: red; */
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  color: #0a1128;
  font-size: 12px;
  text-overflow: clip;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  /* white-space: wrap; */
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #002140;
  padding-top: 10px;
  margin-top: 10px;

  .ad-item-price {
    color: #002140;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
  }

  .view-btn {
    padding: 6px 15px;
    background-color: #002140;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
}
