.navbar{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #648767;
    border-bottom: 1px solid #DDE0BD;
    z-index: 1;
}

.navbar .logo{
    font-size: 25px;
    color: #DDE0BD;
    font-weight: 700;

    span{
        color: #0A1128;
        margin-left: 1px;
    }
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #0A1128;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: #DDE0BD;
    font-size: 16px;
    color: #0A1128;
    border: transparent;
    padding: 10px 10px ;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #0A1128;
}

.navbar li{
    cursor: pointer;
}

.navbar-profile{
    position: relative;

    .icon{
        font-size: 25px;
        color: #DDE0BD;
    }
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #DDE0BD;
    padding: 6px 10px;
    border-radius: 4px;
    border: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    width: 100px;
}

.nav-profile-dropdown li .icon{
    font-size: 20px;
    color:  #0A1128;
}


@media (max-width: 1050px){
    .navbar .logo{
        font-size: 20px;
    }

    .navbar-menu{
        font-size: 15px;
        gap: 15px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}


@media (max-width: 900px){
    .navbar .logo{
        font-size: 20px;
    }

    .navbar-menu{
        font-size: 15px;
        gap: 15px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px){
    .navbar-menu{
        display: none;
    }
}

