.discoverCont{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-top: 30px;
    text-align: center;
  }

  h4{
    font-weight: 700;
  }

  @keyframes split {
    0% , 25%{ width: 64px }
    100%{ width: 148px }
  } 
  
  .loadingCont{
    width: 40%;
    height: 20px;
    /* background-color: #bfe2d0; */
    margin: 50px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  
    .ballLoader {
      width: 64px;
      height: 48px;
      position: relative;
      animation: split 1s ease-in infinite alternate;
    }
    
  
    .ballLoader::before , .ballLoader::after {
      content: '';
      position: absolute;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      left: 0;
      top: 0;
      transform: translateX(-10px);
      background: #002140;
      /* opacity: 0.75; */
      backdrop-filter: blur(20px);
    }
    
    .ballLoader::after {
      left: auto;
      right: 0;
      background: #bfe2d0;
      transform: translateX(10px);
    }
  }

  .discoverDisplay{
    /* width: 80%; */
    border-radius: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;

    .noAd{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      gap: 10px;

      h3{
        display: flex;
        align-items: center;
        color: #002140;
      }

      .toCreateAd{
        padding: 10px 15px;
        background-color: #002140;
        color: white;
        border-radius: 4px;
      }


    }
  }

  nav {
    margin: 50px auto 0px auto;

    .pagination {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      li {
        border: 1px solid #002140;
        background-color: #002140;
        padding: 4px 8px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }

      .pagi-active {
        background-color: white;
        color: #002140;
      }
    }
  }
}