.bookmarkCont{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 30px auto;
    color: #002140;
    font-size: 32px;
  }

  .bookmarkDisplay {
    /* width: 80%; */
    border-radius: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;

    .noAd {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      gap: 10px;

      h3 {
        display: flex;
        align-items: center;
        color: #002140;
      }

      .toCreateAd {
        padding: 10px 15px;
        background-color: #002140;
        color: white;
        border-radius: 4px;
      }
    }
  }
}