.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.explore-menu h1{
    color: #0A1128;
    font-weight: 500;
}

.explore-menu-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   text-align: center;
   margin: 20px 0px;
   overflow: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item .icon{
   font-size: 110px;
   color: #648767;
   border: 4px solid transparent;
   background-color: #DDE0BD;
   padding: 30px;
   border-radius: 40px;
   cursor: pointer;
   transition:  0.2s;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #DDE0BD;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.explore-menu-list-item .p{
   color: #0A1128;
}

.explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
    border: 4px solid #0A1128;
    color: #0A1128;
}
