.explore-ad {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 2px solid #002140;
  padding-bottom: 10px;
  /* padding-top: 30px ; */
}

.explore-ad h1 {
  color: #0a1128;
  font-weight: 500;
  text-align: center;
}

.explore-ad p {
  color: #0a1128;
  font-weight: 300;
  text-align: center;
}

.explore-ad-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow: scroll;
}

.explore-ad-list::-webkit-scrollbar {
  display: none;
}

.explore-ad-list-item {
  position: relative;
  cursor: pointer;
  /* background-color: red; */

  .number {
    position: absolute;
    top: 18px;
    /* bottom: 0 !important; */
    right: 25px;
    color: white;
    background-color: #002140;
    font-weight: 500;
    font-size: 10px;
    width: max-content;
    height: max-content;
    padding: 1px 4px;
    border-radius: 100%;
    opacity: 90%;
  }
}

.explore-ad-list-item .icon {
  font-size: 110px;
  color: #0a1128;
  border: 4px solid transparent;
  background-color: #bfe2d0;
  padding: 30px;
  border-radius: 40px;

  transition: 0.2s;
}

.explore-ad-list-item p {
  margin-top: 10px;
  padding-bottom: 4px;
  color: #0a1128;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.explore-ad-list-item .p {
  color: #0a1128;
  border-bottom: 4px solid #0a1128;
}

.explore-ad hr {
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-ad-list-item .active {
  border: 4px solid #0a1128;
  color: #0a1128;
}
