.categoriesPage {
  display: flex;
  flex-direction: column;
  padding: 10px;

  h1 {
    margin: 10px 0px;
    color: 0A1128;
  }

  .categoriesCont {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    .categoriesList {
      /* background-color: red; */
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 20%;

      li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        border-bottom: 2px solid #002140;
        color: #002140;

        span {
          display: flex;
          align-items: center;
          gap: 10px;

          .icon {
            font-size: 20px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 700;
        }
      }

      li:hover {
        color: white;
        background-color: #002140;
        border-radius: 4px;
      }

      .active {
        color: white;
        background-color: #002140;
        border-radius: 4px;
      }
    }

    .categoriesDisplay {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 30px;
      row-gap: 50px;
    }
  }

  nav {
    margin: 30px auto 0px auto;

    .pagination {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      li {
        border: 1px solid #002140;
        background-color: #002140;
        padding: 4px 8px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }

      .pagi-active {
        background-color: white;
        color: #002140;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #002140 transparent;
  position: absolute;
  top: 50%;
  right: 40%;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}


@media (max-width: 1050px) {
  .categoriesPage {
    .categoriesCont {
      display: flex;
      flex-direction: column;

      .categoriesList {
        width: 100%;
      }

      .categoriesDisplay {
        width: 100%;
      }
    }

    nav{
      margin-top: 60px;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #002140 transparent;
    position: absolute;
    top: 90%;
    right: 45%;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@media (max-width: 750px) {
}
