.head {
  height: 34vw;
  margin: 30px auto;
  position: relative;
  /* border: 3px solid #0a1128; */
  border-radius: 14px;
}


.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 30%;
  left: 6vw;

  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: 58px;
  text-shadow: 4px 2px black;
}

.header-content p {
  color: white;
  font-size: 1vw;
  text-shadow: 2px 2px black;
}

.search {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  bottom: 10%;
  left: 6vw;

  select {
    padding: 14px !important;
  }

  input,
  select {
    flex: 1;
    padding: 15px;
    color: #0a1128;
    outline: none;
    border: 1px solid #002140;
    font-weight: 500;
    border-radius: 0px;
  }

  input:hover,
  select:hover {
    border: 1px solid #eaf5ff;
  }

  input::placeholder {
    color: #0a1128;
    font-weight: 300;
  }

  button {
    border: 1px solid #002140;
    background-color: #002140;
    color: white;
    padding: 15px 12px;
    font-weight: 800;
  }

  button:hover {
    border: 1px solid #eaf5ff;
  }
}

@media (max-width: 1050px) {
  .head {
    margin: 40px auto;
  }

  /* .header{
  } */

  .header-content {
    max-width: 45%;
    bottom: 50%;

    h2{
      font-size: 28px;
      text-shadow: 2px 2px black;
    }
  }
}

@media (max-width: 750px) {
  .head {
    height: 60vw;
  }

  /* .header{
  } */

  .header-content {
    max-width: 65%;
    bottom: 55%;

    p {
      display: none;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 80%;
    bottom: 4%;
    left: 6vw;

    input,
    select {
      width: 100%;
      padding: 5px !important;
      font-weight: 400;
    }

    button {
      width: 100%;
      padding: 5px;
      font-weight: 400;
    }
  }
}
