.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
  opacity: 0.7;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 30%;
  left: 6vw;

  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
  text-shadow: 2px 2px black;
}

.header-content p {
  color: white;
  font-size: 1vw;
  text-shadow: 2px 2px black;
}

.search {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  bottom: 10%;
  left: 6vw;

  select {
    padding: 14px !important;
  }

  input, select {
    flex: 1;
    padding: 15px;
    color: #0a1128;
    outline: none;
    border: 1px solid #648767;
  }

  button {
    border: none;
    background-color: #648767;
    color: #dde0bd;
    padding: 16px 12px;
  }
}

@media (max-width: 1050px) {
  .header {
    height: 100vw;
    background-size: cover;
    background-position: center;
  }

  .header-content {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 65%;

    p {
      display: none;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 80%;
    bottom: 4%;
    left: 6vw;

    input, select {
      width: 100%;
      padding: 5px !important;
    }

    button {
      width: 100%;
      padding: 5px;
    }
  }
}
