.head{
  height: 34vw;
  margin: 30px auto;
  background: url("/b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
}

.header {
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.08);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.7px);
-webkit-backdrop-filter: blur(1.7px);
margin: auto;
  width: 95%;
  height: 95%;
  /* opacity: 0.8; */
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 30%;
  left: 6vw;

  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.2vw, 22px);
  text-shadow: 2px 2px black;
}

.header-content p {
  color: white;
  font-size: 1vw;
  text-shadow: 2px 2px black;
}

.search {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  bottom: 10%;
  left: 6vw;

  select {
    padding: 14px !important;
  }

  input, select {
    flex: 1;
    padding: 15px;
    color: #0a1128;
    outline: none;
    border: 1px solid #648767;
    font-weight: 800;
  }

  input:hover, select:hover {
    border: 1px solid #dde0bd;
  }

  input::placeholder{
    color: #0a1128;
  }

  button {
    border: 1px solid #648767;
    background-color: #648767;
    color: #dde0bd;
    padding: 15px 12px;
    font-weight: 800;
  }

  button:hover{
    border: 1px solid #dde0bd;
  }
}

@media (max-width: 1050px) {
  .head{
    height: 50vw;
    background-size: cover;
    background-position: center;
  }

  .header-content {
    max-width: 45%;
    bottom: 50% ;
  }
}

@media (max-width: 750px) {

  .header-content {
    max-width: 65%;
    bottom: 55% ;

    p {
      display: none;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 80%;
    bottom: 4%;
    left: 6vw;

    input, select {
      width: 100%;
      padding: 5px !important;
      font-weight: 400;
    }

    button {
      width: 100%;
      padding: 5px;
      font-weight: 400;
    }
  }
}
