.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    opacity: 0.7;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;

    animation: fadeIn 3s ;
}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    text-shadow: 2px 2px black;
}

.header-content p{
    color: white;
    font-size: 1vw;
    text-shadow: 2px 2px black;
}

@media (max-width: 1050px){
    .header{
        height: 100vw;
        background-size: cover;
        background-position: center;
    }

    .header-content{
        max-width: 45%;
    }
}

@media (max-width: 750px){
    .header-content{
        max-width: 65%;
    }

    .header-content p {
        display: none;
    }
}