.searchPage{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-top: 20px;
  }

  .searchForm{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 5px;
    margin-top: 20px;

    input, select{
      display: flex;
      padding: 10px;
    }

    button{
      padding: 10px;
      background-color: #002140;
      color: white;
    }
  }

  .searchDisplay{
    /* width: 80%; */
    border-radius: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;

    .noAd{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      gap: 10px;

      h3{
        display: flex;
        align-items: center;
        color: #002140;
      }

      .toCreateAd{
        padding: 10px 15px;
        background-color: #002140;
        color: white;
        border-radius: 4px;
      }


    }
  }

  nav {
    margin: 50px auto 0px auto;

    .pagination {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      li {
        border: 1px solid #002140;
        background-color: #002140;
        padding: 4px 8px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }

      .pagi-active {
        background-color: white;
        color: #002140;
      }
    }
  }
}